@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
    font-family: 'icomoon';
<<<<<<< HEAD
    src:  url('../');
    src:  url('/public/images/fonts/icomoon.eot') format('embedded-opentype'),
      url('/public/images/fonts/icomoon.ttf') format('truetype'),
      url('/public/images/fonts/icomoon.woff') format('woff'),
      url('/public/images/fonts/icomoon.svg') format('svg');
=======
    src:  url('../assets/fonts/icomoon.eot?n9qi63');
    src:  url('../assets/fonts/icomoon.eot?n9qi63#iefix') format('embedded-opentype'),
      url('../assets/fonts/icomoon.ttf?n9qi63') format('truetype'),
      url('../assets/fonts/icomoon.woff?n9qi63') format('woff'),
      url('../assets/fonts/icomoon.svg?n9qi63#icomoon') format('svg');
>>>>>>> eecf3a48867844aebf409a37b1188eec10c8ba81
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon {
    font-family: 'icomoon';
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-right: 0.5em;
  }
  
  .iconwifi-solid:before {
    content: "\e900";
  }
  .iconbook-solid:before {
    content: "\e901";
  }
  .iconcrown-solid:before {
    content: "\e902";
  }
  .iconquestion-solid:before {
    content: "\e903";
  }
  .iconphone-solid:before {
    content: "\e904";
  }
  
html {
    font-family: "Space Grotesk", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;

    color: inherit;
    transition: 0.05s;
}

.header__link:hover {
    color: var(--bloodyred);
}

.center {
    text-align: center;
}

.hamburger__links__nav {
    font-weight: 300;
    font-size: 1.125rem;
}

h3 {
    font-weight: 500;
}

b {
    color: var(--darkblue);
}

.section p {
    font-size: 1.25rem;
}

.section h3 {
    font-size: 1.5rem;
}

.section a {
    color: var(--darkblue);
    font-weight: 500;
    text-decoration: underline;
}

.header__logo span {
    color: var(--bloodyred);
}

.header__link {
    font-weight: 500;
<<<<<<< HEAD
    list-style: none;
=======
>>>>>>> eecf3a48867844aebf409a37b1188eec10c8ba81
}

.main__hero h2 span {
    color: var(--bloodyred);
}

.hero__ip {
    font-size: 1.25em;
}

.contact-form__input {
    font-family: "Space Grotesk", sans-serif;
}

.admin__name {
    font-weight: 500;
    font-size: 1em;
}
